* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  li {
  list-style: none;
  }
  a {
  text-decoration: none;
  color: inherit;
  }
  
  section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to top, #e2b9f3 0%, #e5a95a 100%);
  }
  svg {
    width: 1024px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .svg1 {
    transform: translate(-48%, -48%);
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    z-index: 1;
  }
  .svg2 {
    fill: rgb(49, 106, 206);
    transform: translate(-48.5%, -48.5%);
  }