ul {
  display: flex;
  gap: 10px;
}
li {
  list-style: none;
}
body {
  width: 960px;
  margin: 0 auto;
}
/* border: 1px solid #f00;
 */
#aside {
  width: 200px;
  float: left;
}
#content {
  width: 760px;
  float: left;
}
section {
  overflow: hidden;
}
