* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  li {
  list-style: none;
  }
  a {
  text-decoration: none;
  color: inherit;
  }
  
  ul.menu li {
    width: 100px;
    height: 100px;
    background: blueviolet;
    margin-bottom: 20px;
  }