* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: wheat;
}

h1 {
  margin: 20px;
  color: rgb(23, 105, 37);
  letter-spacing: 5px;
}

#container {
  border: 3px solid rgb(160, 84, 109);
  border-radius: 20px 20px 0 0;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  z-index: 100;
  font-size: 2rem;
  background: #948d8d;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.arrow:hover {
  opacity: 1;
}
