@import url(./reset.css);
#main_header {
  height: 90px;
  line-height: 45px;
  background: url("./bg\(1\).PNG");
  color: #fff;
}
input {
  margin: 5px;
  padding: 5px;
  background: #fff;
  border: 2px solid #2cc1bd;
  border-radius: 20px;
  font-size: 18px;
}
header .inner_item {
  position: absolute;
  right: 10px;
  font-size: 25px;
}
#search {
}
