body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart-beat {
  position: relative;
  animation: 0.8s beat infinite;
}

.heart {
  position: relative;
  background-color: #ff4757;
  display: inline-block;
  height: 100px;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  box-shadow: 0 -10px 100px #ff4757, 0 -10px 150px#ff4757, 0 -10px 200px #ff4757;
  width: 100px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #ff4757;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position: absolute;
  width: 100px;
}

.heart:before {
  top: -50px;
  left: 0;
}

.heart:after {
  left: 50px;
  top: 0;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
